#div1 {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 20%;
    left: 20%;
    background-color: aquamarine;
    /* transform: rotate(120deg) */
    /* transform: rotateX(120deg); */
    /* transform: scale(1.5); */
    /* transform: scale(2,3); */
    /* transform: translate(100px); */
    /* transform: skew(15deg); */
    transform: skew(15deg, 30deg);
}